{% extends "base.html" %}

{% block Formulario2 %}
    <h1>{{titulo2}}</h1>
    <form method="POST" action=""> {% csrf_token %}
      <table>
        {{el_form2}}
        <p>Total Clientes: {{num_rol2}}</p>
        <p>Prioridad: {{priori}}</p>
      </table>
      <input type="submit" value="Guardar"/>
    </form>
    <div class="bg-light p-1 rounded" style="width: 95px; height: 45px;">
      <a class="btn btn-outline-primary" href="/inicio/" role="button">INICIO &raquo;</a>
    </div>
{% endblock %}

