<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %}

  {% load static %}

  {% load crispy_forms_tags %}

  {% block Formulario %}
    <h1>{{titulo13}}</h1>
    <form method="POST" action=""> {% csrf_token %}
      
        {{ el_form13.as_p }}
        <p>Total Turnos: {{num_rol13}}</p>
      
      <input type="submit" value="Guardar"/>
      </form>
    <div class="bg-light p-1 rounded" style="width: 95px; height: 45px;">
      <a class="btn btn-outline-primary" href="/inicio/" role="button">INICIO &raquo;</a>
      </div>
  
    {% endblock %}
</html>
