{% extends "base.html" %}

{% block Formulario %}

<form action="/guardarTurnoEditado/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="">ID</label>
        <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder=""
               value="{{ colaEspera.ticket_id }}" readonly>
    </div>
    <div class="form-group">
        <label for="">Cliente</label>
        <input type="text" name="cliente_id" class="form-control" id="exampleInputEmail1" aria-describedby=""
               placeholder="" value="{{ colaEspera.cliente_id }}" readonly>
    </div>
    <div class="form-group">
        <label for="">*Estado</label>
        <select class="custom-select" name="estado">
            <option selected value={{ colaEspera.estado.estado_id}}>{{colaEspera.estado.estado_id}}</option>
            {% for estado in estados %}
                <option value={{ estado.estado_id }}>{{ estado.estado_id}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="">*Prioridad</label>
        <select class="custom-select" name="prioridad_id">
            <option selected value={{ colaEspera.prioridad_id.prioridad_id}}>{{ colaEspera.prioridad_id.prioridad_id}}</option>
            {% for prioridad in prioridades %}
                <option value={{ prioridad.prioridad_id }}>{{ prioridad.prioridad_id }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="form-group">
        <label for="">Servicio</label>
        <input type="text" name="servicio" class="form-control" id="exampleInputEmail1" aria-describedby=""
               placeholder="" value="{{ colaEspera.servicio_id.servicio_desc }}" readonly>
    </div>
    <div class="form-group">
        <label for="">Puestos</label>
        <select class="custom-select" name="puesto_id">
            <option selected value={{ colaEspera.puesto_id.puesto_id}}>{{ colaEspera.puesto_id.puesto_id}}</option>
            {% for puesto in puestos %}
                <option value={{ puesto.puesto_id }}>{{ puesto.puesto_id }}</option>
            {% endfor %}

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Turno</button>
</form>
{% endblock %}