<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %}

  {% load static %}

  {% load crispy_forms_tags %}

  {% block Formulario %}
  <form method="POST" action=""> {% csrf_token %}
    
      {{}}
    
    <input type="submit" value="ENVIAR"/>
  </form>

  
    {% endblock %}
</html>
