{% extends "base.html" %}

{% block Formulario %}
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
         <a class="btn btn-outline-primary" href="/personas/" role="button">PERSONAS &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/roles/" role="button">ROLES &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
    <a class="btn btn-outline-primary" href="/clientes/" role="button">CLIENTES &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/nacionalidad/" role="button">NACIONALIDAD &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/tipoCliente/" role="button">TIPO CLIENTE &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/trabajador/" role="button">FUNCIONARIOS &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/puesto/" role="button">PUESTOS &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/ciudad/" role="button">CIUDADES &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/estado/" role="button">ESTADOS &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/ticket/" role="button">TICKETS &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/prioridad/" role="button">PRIORIDADES &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/discapacidad/" role="button">DISCAPACIDADES &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/servicios/" role="button">SERVICIOS &raquo;</a>
    </div>
    <div class="bg-light p-1 rounded" style="width: 175px; height: 40px;">
        <a class="btn btn-outline-primary" href="/colas/" role="button">COLA DE ESPERA &raquo;</a>
    </div>
{% endblock %}
