<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Turnero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/turnos/">Turnos</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="/inicio/">
             Inicio <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
          </li><li class="nav-item">
            <a class="nav-item nav-link">
             Bienvenido: <i class="fas fa-sign-out-alt"></i>
             {{ user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/logout/">
            Salir <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
          <a class="nav-item nav-link" href="/login/">Log in <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/admin/">
             Sitio administrativo <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>