{% extends "base.html" %}

{% block Formulario1 %}
    <h1>{{titulo1}}</h1>
    <form method="POST" action=""> {% csrf_token %}
      <table>
        {{el_form1}}
        <p>Total Personas: {{num_rol1}}</p>
      </table>
      <input type="submit" value="Guardar"/>
    </form>
    <div class="bg-light p-1 rounded" style="width: 95px; height: 45px;">
      <a class="btn btn-outline-primary" href="/inicio/" role="button">INICIO &raquo;</a>
    </div>
{% endblock %}

