{% extends "base.html" %}

{% block Formulario %}
    <h1>{{titulo}}</h1>
    <form method="POST" action=""> {% csrf_token %}
      <table>
        {{el_form}}
        <p>Total Roles: {{num_rol}}</p>
      </table>
      <input type="submit" value="Guardar"/>
    </form>
    <div class="bg-light p-1 rounded" style="width: 95px; height: 45px;">
      <a class="btn btn-outline-primary" href="/inicio/" role="button">INICIO &raquo;</a>
    </div>
{% endblock %}

