<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %}

  {% load static %}

  {% load crispy_forms_tags %}

  {% block Formulario %}

      <br/>
      <div class="list-group col-6 mx-auto">
          {% for estado in estados %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active bg-info text-white rounded">
          
            <div class="d-flex w-140 justify-content-between">
              
                <h5 class="mb-3">Turno    {{estado.ticket_id}} </h5>
              
                <h5 class="mb-3"> Estado {{estado.estado}} </h5>

                <h5 class="mb-3">Puesto {{estado.puesto_id}} </h5>

                <h5 class="mb-3">Prioridad {{estado.prioridad_id}} </h5>

                <h5 class="mb-3">Servicio {{estado.servicio_id}} </h5>
            
            </div>
            
            <a href="editarTurno/{{estado.ticket_id}}" type="button" class="btn btn-outline-primary">ATENDER</a>
          
            {% endfor %}
          </a>
          
      </div>
      <br/>
      <div class="list-group col-6 mx-auto">

        <main class="container">
          <div class="row">
              <!--<div class="col-md-6 offset-md-3 mt-5">-->
              <div class="col-sm-6 col-md-6 col-lg-12 col-xl-12 mt-5">
                  <h1 class="text-center display-5 fw-bold"></h1>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  
                  </div>
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Ticket</th>
                                  <th>Servicio</th>
                                  <th>Cliente</th>
                                  <th>Estado</th>
                                  <th>Puesto</th>
                                  
                              </tr>
                          </thead>
                          <tbody>
                              {% for estado in estados %}
                              <tr>
                                  <td>{{estado.ticket_id}}</td>
                                  <td>{{estado.servicio_id}}</td>
                                  <td>{{estado.cliente_id}}</td>
                                  <td>{{estado.estado}}</td>
                                  <td>{{estado.puesto_id}}</td>
                                                             
                                
                              </tr>
                              {% endfor %}                        
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </main>
    </div>
  
    {% endblock %}
</html>
